body{
	/*height: 420px;*/
	width: 666px;
}

*{
	font-size: 14px;
}

.pref_group, .website_pref{
	display: block;
	margin-top: 14px;
	margin-bottom: 14px;
}
.preferenceContainer.flex_input_text{
	display: flex;
	width: 100%;
	margin-top: 3px;
	margin-bottom: 3px;
}
.preferenceContainer.flex_input_text .preferenceInput{
	display: flex;
	flex-grow: 5;
}
.preference{
	display: inline;
	margin-top: 3px;
	margin-bottom: 3px;
}
.preference > span:after{
	content: ": ";
}
label:not(.flex_input_text){
	display: inline;
	padding-right: 3px;
}
label.flex_input_text{
	display: inline-flex;
	padding-right: 3px;
}
.import_container .label{
	display: block;
}
.import_container .label{
	display: block;
}
.pref_container{
	padding-left: 10px;
}


footer{
	margin-top: 6px;
	margin-bottom: 6px;
}
